<footer>
  <div class="center">
    <span id="desc"></span>
  </div>
  <div class="footer-icons">
    <a href="https://linkedin.com/in/danielhessling" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/linkedin.png" class="social-media-icon"
        alt="social-media-icon"></a>
    <a href="https://www.facebook.com/daniel.hessling.1" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/facebook.png" class="social-media-icon"
        alt="social-media-icon"></a>
    <a href="https://www.instagram.com/dannehess/" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/instagram.png" class="social-media-icon"
        alt="social-media-icon"></a>
    <a href="https://twitter.com/dannehess" target="_blank">
      <img src="{{ site.baseurl }}/assets/images/twitter.png" class="social-media-icon"
        alt="social-media-icon"></a>
    </div>
</footer>