.footer-icons{
    max-width: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.social-media-icon{
    display: inline-block;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 40px;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .footer-hr{
      width: 100%;
      max-width: 850px;
      padding: 0 20px;
  }