footer{
    background-color: #efefef;
    background-color: white;
    min-height: 10vh;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.social-media-icon{
    display: inline-block;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 40px;
  }