.welcome-section{
    display: flex;
    padding: 20px;
    padding-bottom: 0;
    max-width: 900px;
    align-items: stretch;
    color: #1a1a1d;
}

.welcome-pic{
    padding: 20px;
    padding-left: 0;
}

.welcome-pic img{
    max-width: 300px;
    box-shadow: 1px 1px 20px rgb(169, 169, 169);
    border: 2px solid white;
}

.welcome-info{
    padding: 8px 20px;
}

@media(max-width: 700px){
    .welcome-section{
        padding: 20px 0;
    .welcome-pic{
        display: none;
        }
    }
}