$mainFont: 'Montserrat';
$mainBgColor: #efefef;
$pfontSize: 1.4rem;
$fontColor: #1a1a1d;

:root {
  font-size:16px;
}

*{
  box-sizing: border-box;
}

body, html{
  margin:0;
  padding:0;
  height: 100%;
  font-family: $mainFont;
  color: $fontColor;
}

.container{
  background-color: #efefef;
  max-width: 100vw;
  min-height: 100vh;
}

main{
  background-color: $mainBgColor;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  padding-top: 20px;
}

section{
  height: auto;
  margin-bottom: 20px;
  padding: 0px 20px 20px 20px;
  color: $fontColor;
  
}

.main-content{
  max-width: 900px;
}

p{
  font-family: $mainFont;
  font-size: $pfontSize;
  margin-top: 4px;
  margin-bottom: 4px;
  line-height: 35px;
}

.wavy-hr{
  height: 6px;
  background: url(./assets/images/wavy-hr.png) repeat-x 0 0;
    border: 0;
    width: 100%;
    margin-top: 30px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

.mini-spacer{
  height: 10px;
}

.big-spacer{
  height: 40px;
}

.spacer{
  height: 100px;
}

h2 > span{
  width: 300px;
  padding: 6px 10px;
  background-color: #1a1a1d;
  font-family: 'Montserrat';
  color: white;
  border-radius: 4px;
}

.section-half{
  display: flex;
  margin-bottom: 30px;
  background: none;
  padding: 0;
  height: 100%;
}

.half{
  width: 50%;
  height: 100%;
  padding: 30px;
  margin-bottom: -10px;
  background-color: white;
}

.half:first-child{
  margin-right: 10px;
}

.half:nth-child(2){
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.know{
  margin: 0 0 4px 0;
}

#knowledge{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
}

.know-box ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.know-box li{
padding-top: 10px;
padding-bottom: 0;
font-size: 1.2rem;
}

.know-box h3{
font-size: 1.5rem;
margin: 0 0 10px 0;
}

.know-box{
display: flex;
flex-direction: column;
align-items: center;

}

.social-media-icon{
display: inline-block;
margin: 20px;
margin-top: 0;
margin-bottom: 0;
max-width: 40px;
}

.knowledge-icon{
margin-bottom: 20px;
}

#main-me{
  max-width: 300px;
}

@media(max-width: 1000px){
  main{
    padding: 20px 60px;
  }}

@media(max-width: 800px){
main{
  padding: 10px;
}
  .section-half{
    flex-direction: column;
  }
  .half{
    width: 100%;
  }
  .half:first-child{
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .half:nth-child(2){
    margin-left: 0;
  }
}
