.project-half{
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
    background: none;
    padding: 0;
    height: 100%;
  }

.project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 30px;
    margin-bottom: -10px;
    background-color: white;
  }

.project-thumb{
    max-width: 100%;
}

.project:first-child{
  margin-right: 10px;
}

.project:nth-child(2){
  margin-left: 10px;
}

.project-info-trunc{
  display: flex;
  width: 100%;
}

.project-link{
  font-size: 1.2rem;
}

.trunc-desc{
  width: 50%;
}

.trunc-desc p{
  padding: 0;
  margin: 0;
}

.trunch-link{
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

@media(max-width: 800px){
    .project-half{
      flex-direction: column;
    }
    .project{
      width: 100%;
    }
    .project:first-child{
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    .project:nth-child(2){
      margin-left: 0;
    }
  }
  
  