---
layout: default
---     
     
{% for project in site.posts limit: 1 %}
<section>
    <div class="mini-spacer"></div>
    <img src="{{ site.baseurl }}/{{ project.image }}" class="project-big-pic">
    <div class="mini-spacer"></div>
    </section>
    <section class="project-half">
    <section class="project">
        <h1 class="project-big-h1">{{ project.title }}</h1>
        <hr class="green-hr">
    <p>{{ project.description }}</p>
        <div class="project-info-trunc">
        <div class="mob-desc"></div>
        <div class="mob-link"><a href="{{ project.link }}" class="big-project-link project-link" target="_blank">Projectlink</a></div>
        </div>
    </section>
    <section class="project">
    <h1 class="project-big-h1">Tools used</h1>
    <hr class="green-hr">
    <ul>
    <li>HTML 5</li>
    <li>CSS 3</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Photoshop</li>
    </ul>
    </section>
</section>
<div class="center">
        <div class="wavy-hr"></div>
        <div class="big-spacer"></div>                     
            <a href="/work" class="back-to"><i class="fas fa-angle-left"></i><i class="fas fa-angle-left"></i> Back to projects</a></div>
        <div class="spacer"></div>
    {% endfor %}
</div>